<% if @HL7Result.length != 1 %>
    var data_Set =<%= raw @HL7Result %>;
    $('#example').dataTable( {
        "data": data_Set,
        "columns": [
            { "title": "First Name" },
            { "title": "Last Name", "class": "center" },
            { "title": "Age", "class": "center" },
            { "title": "Action"},
            { "title": "Insert"},
            { "title": "Data From"},
            { "title": "Data To", "class": "center"},
            { "title": "Pic", "class": "center"}
        ]
    } ); 
    $("#firstModal").html("<div class='zoomContainer' id='secondDiv'><ul id='id_ul' class='example-orbit' data-orbit></ul></div>");

    <% for image in @array_image %>
    $("#id_ul").append("<li>\
        <div id='<%= "#{@array_image.index(image)}" %>' class='zoomTarget' style='min-height:417px;'><img style='margin: 0 auto;' src='data:image/jpeg;base64,<%= "#{raw image}" %>' alt='slide 1' /></div>\
        <div class='orbit-caption'>\
          Caption Three.\
        </div>\
      </li>");
    <% end %>

    $(document).foundation({
      orbit: {
        animation: 'slide',
        timer_speed: 1000,
        pause_on_hover: true,
        animation_speed: 500,
        navigation_arrows: true,
        bullets: false
      }
    });

    $(document).on('opened', '[data-reveal]', function () {
    var modal = $(this);
    $(window).trigger('resize');
    });

    settings = {
        // zoomed size relative to the container element
        // 0.0-1.0
        targetsize: 0.9,
        // scale content to screen based on their size
        // "width"|"height"|"both"
        scalemode: "both",
        // animation duration
        duration: 600,
        // easing of animation, similar to css transition params
        // "linear"|"ease"|"ease-in"|"ease-out"|"ease-in-out"|[p1,p2,p3,p4]
        // [p1,p2,p3,p4] refer to cubic-bezier curve params
        easing: "ease",
        // use browser native animation in webkit, provides faster and nicer
        // animations but on some older machines, the content that is zoomed
        // may show up as pixelated.
        nativeanimation: true,
        // root element to zoom relative to
        // (this element needs to be positioned)
        root: $("#firstModal"),
        // show debug points in element corners. helps
        // at debugging when zoomooz positioning fails
        debug: false,
        // this function is called with the element that is zoomed to in this
        // when animation ends
        animationendcallback: null,
        // this specifies, that clicking an element that is zoomed to zooms
        // back out
        closeclick: true,
        // don't reset scroll before zooming. less jaggy zoom starts and ends on
        // mobile browsers, but causes issues when zooming to elements when scrolled
        // to a specific distance in document, typically around 2000px on webkit.
        preservescroll: true
    };

    $("#secondDiv").click(function(evt) {
        $(this).zoomTo(settings);
        evt.stopPropagation();
    });  
<% else %>
    var data_Set =<%= raw @HL7Result %>;
    $('#example').dataTable( {
        "data": data_Set,
        "columns": [
            { "title": "Create New Record" }
        ]
    } ); 
    $("#firstModal").html("<div class='zoomContainer' id='secondDiv'><ul id='id_ul' class='example-orbit' data-orbit></ul></div>");
<% end %>
